.signin__container{
    display:flex ;
    justify-content : center ; 
    align-items: center;
    text-align : center ;
    height : 100vh ;
    background-color: lightslategray
}

.div > button{
    background-color:  darkorange;
    color : black ;
    margin : 10px ; 
    padding : 10 px ;
    border: none;
    border-radius : 10px  ;
}