.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

* > span{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.container > div > span:hover{
    cursor: pointer;
    color: cadetblue;
    text-decoration: underline;

}
* > span > h2{
    margin-left: 10px;
}
